

.site {
  font-size: 100%;
  font-family: monospace;
  text-align: justify;
  min-width: 500px!important;
  width: 70%!important;
  margin-left: 10%!important;  
}



.herbirsoz {
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    border: 1px #cdcdcd94 solid;
    overflow: hidden;
    line-height: 22px;
}

.herbirsoz:hover {
    background: #d2d2d25e;
}

