---
layout: default
title: Özhan Atalı
---

{% assign anasayfakategorileri = ''| split: '' %}
{% for ktgr in site.data.kategoriler %}
   {% assign anasayfakategorileri = ktgr.kategori | concat: anasayfakategorileri %}
{% endfor %}



<div id="home">

<! –– 5N1K Girişi  ––> 
  
<h1>Intro/Psikanaliz/Dağarcık-1</h1>
   <ul class="posts">
      <li><b>Mukaddime:</b> İlgilisi <a href="about">hakkımda" sayfasına</a> bakabilir</li>
      <li><b>Muhayyile:</b> Açık ve dalgalı. Sahifesi yok. Özeti/hasılı/icmali burası (külli olarak işbu mecra).</li>
      <li><b>Muhasebe:</b> Mesleğim. Mum dibine ışık vermez imiş. Deneyelim.</li>
      <li><b>Müracaat:</b> [TDK] Başvuru, danışma ve herhangi bir eserden yararlanma</li>
      <li><b>Münacaat:</b> Gizlisi makbul. Aşikarı farz.</li>
      <li><b>Mebde:</b> İlim. Biz buraya odaklanacağız.</li>
      <li><b>Mead, Mana, Maarifet... </b></li>      
      <li><b>Bismillah</b></li>
   </ul>

<! –– now  ––> 
   
<h1>Neler yapıyorum</h1>
   nownownow akımına (sürekli sosyal medyadan ne yaptığını paylaşmak yerine ara sıra kendi siten üzerinden güncellemeler yapmak) istinaden please see <a href="/now">my "now" page</a>.

<h1>Neden yapıyorum</h1>
   Çok fazla konuya kısa süreli derinlemesine dalmak gibi bir huyum var. Bu zamanlarda ortaya çıkan bilgi birikimini kayda düşmek istedim.
   Bunun için de sürdürülebilir minimalist bir platform geliştirdim.
   
<h1>Nasıl yapıyorum</h1>
   Github + Jeckyll + Liquid + CSS + JS + HMTML (İlgilisine <a href="#")how to page</a>)

<! –– tüm kategoriler  ––> 
   
 <h1>Hangi ana konularda yazmışım:</h1>
   <ul class="posts">
   {% for cat in site.categories %}   
      <li><a href="https://ozhanatali.github.io/search?query={{ cat[0] }}" >{{ cat[0] }}</a>: {{ cat[1].size }} adet makale mevcut</li>
   {% endfor %}
   </ul>
   
<! –– tüm taglar  ––> 
   
 <h1>Konuların altbaşlıkları-anahtar kelimeler:</h1>
   <ul class="posts">
   {% for tag in site.tags %}
      <a href="https://ozhanatali.github.io/search?query={{ tag[0] }}" >{{ tag[0] }}</a> [{{ tag[1].size }}]   
   {% endfor %}
   </ul>
   
   
  <h1>Son Yazılar</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

<! –– data klasöründeki kategorilerin ana sayfada listelenmesi  ––> 

 {% for subcat in anasayfakategorileri %}
 {% assign ilgilikategori = site.data.kategoriler | where:"kategori", subcat | first %}
  <h1>{{ilgilikategori.baslik}}</h1>    
  {{ilgilikategori.aciklama}}
  <ul class="posts">
     {% for post in site.categories[subcat] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
 {% endfor %}


  
<! –– data klasöründeki linklerin ana sayfada listelenmesi  ––> 

<h1>Başucu Linkleri</h1>  
    <ul class="posts">
     {% for linkcik in site.data.linkler %}
      <li><a href={{ linkcik.link }} target="_blank" rel="noopener noreferrer"> {{ linkcik.baslik }} </a>: {{ linkcik.aciklama }} </li>
    {% endfor %}
  </ul>


   
</div>
