---
layout: default
title: Özhan Atalı
---

{% assign anasayfakategorileri = ''| split: '' %}
{% for ktgr in site.data.kategoriler %}
   {% assign anasayfakategorileri = ktgr.kategori | concat: anasayfakategorileri %}
{% endfor %}



<div id="home">

<! –– 5N1K Girişi  ––> 
  
<h1>Birkaç M+1B</h1>
   <ul class="posts">
      <li><b>Mukaddime:</b> İlgisi /hakkımda sayfasına bakabilir</li>
      <li><b>Muhayyile:</b> Açık ve dalgalı. Sahifesi yok. Özeti/hasılı/icmali burası (külli olarak işbu mecra).</li>
      <li><b>Muhasebe:</b> Mesleğim. Mum dibine ışık vermez imiş. Deneyelim.</li>
      <li><b>Müracaat:</b> TDK:başvuru, danışma ve herhangi bir eserden yararlanma</li>
      <li><b>Münacaat:</b> Gizlisi makbul. Aşikarı farz.</li>
      <li><b>Mebde:</b> İlim. Biz buraya odaklanacağız.</li>
      <li><b>Mead, Mana, Maarifet... </b></li>      
      <li><b>Bismillah</b></li>
   </ul>

<! –– now  ––> 
   
<h1>Neler yapıyorum</h1>
   nownownow akımına (sürekli sosyal medyadan ne yaptığını paylaşmak yerine ara sıra kendi siten üzerinden güncellemeler yapmak) istinaden please see my "now" page.

   
<h1>İletişim</h1>
   Bu siteyi karşılıklı bir iletişim aracı olarak kurulmadığı için bu 
   konuda #404-ERROR sayfasına yönlendirileceksiniz.

<! –– tüm kategoriler  ––> 
   
 <h1>Hangi ana konularda yazmışım:</h1>
   <ul class="posts">
   {% for cat in site.categories %}
      <li><a href="https://ozhanatali.github.io/search?query={{ cat[0] }}" >{{ cat[0] }}</a>: {{ cat[1].size }} adet makale mevcut</li>
   {% endfor %}
   </ul>
   
<! –– tüm taglar  ––> 
   
 <h1>Konuların altbaşlıkları-anahtar kelimeler:</h1>
   <ul class="posts">
   {% for tag in site.tags %}
      <a href="https://ozhanatali.github.io/search?query={{ tag[0] }}" >{{ tag[0] }}</a> [{{ tag[1].size }}]   
   {% endfor %}
   </ul>
   
   
  <h1>Son Yazılar</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

<! –– data klasöründeki kategorilerin ana sayfada listelenmesi  ––> 
   
 {% for subcat in anasayfakategorileri %}
 {% assign ilgilikategori = site.data.kategoriler | where:"kategori", subcat | first %}
  <h1>{{ilgilikategori.baslik}}</h1>    
  {{ilgilikategori.aciklama}}
  <ul class="posts">
     {% for post in site.categories[subcat] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
 {% endfor %}


  
<! –– data klasöründeki linklerin ana sayfada listelenmesi  ––> 

<h1>Başucu Linkleri</h1>  
    <ul class="posts">
     {% for linkcik in site.data.linkler %}
      <li><a href={{ linkcik.link }} target="_blank" rel="noopener noreferrer"> {{ linkcik.baslik }} </a>: {{ linkcik.aciklama }} </li>
    {% endfor %}
  </ul>


   
</div>
