---
layout: default
title: Özhan Atalı
---

{% assign anasayfakategorileri = ''| split: '' %}
{% for ktgr in site.data.kategoriler %}
   {% assign anasayfakategorileri = ktgr.kategori | concat: anasayfakategorileri %}
{% endfor %}



<div id="home">

<! –– Giriş  ––>                                                                                                       

<br>
Bir finans uzmanının not defteridir.<br>
Bila alaka mevzulardan müteşekkildir. <br>
Yazılım, teknoloji ve sair içtimai bilimler dahil <br>
pek çok konuda faydalı/faydasız bilgi/görüş ihtiva edebilir/etmeyebilir.<br>
Düzenli güncellenmez. Kural ve amaç gözetmez. <br>
Zaman kaybı olabilir. <br>
Olmayadabilir.<br> 

   
Sayfalar<br>
========================<br><br>
<ul class="posts">
   <li><a href="/sozluk">Düşünce Sözlüğü</a></li>
   <li><a href="/sozluk">Başucu Linkleri</a></li>
</ul>
   
<! –– tüm kategoriler  ––> 
    
   
<br><br>Yazılar<br>
========================<br><br>
   
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <br><li><a href="/sozluk">Tüm yazılar...</a></li>
  </ul>

<! –– tüm kategoriler  ––> 
   
<br><br>Kategoriler<br>
========================<br><br>
   <ul class="posts">
   {% for cat in site.categories %}   
      <li><a href="https://ozhanatali.github.io/search?query={{ cat[0] }}" >{{ cat[0] }}</a>: {{ cat[1].size }} adet makale mevcut</li>
   {% endfor %}
   </ul>

   
<! –– data klasöründeki kategorilerin ana sayfada listelenmesi  ––> 

 {% for subcat in anasayfakategorileri %}
   {% for post in site.categories[subcat] %}
   {% if post[1].size>0 %} 
       {% assign ilgilikategori = site.data.kategoriler | where:"kategori", subcat | first %}
        <h1>{{ilgilikategori.baslik}}</h1>    
        {{ilgilikategori.aciklama}}
        <ul class="posts">
           {% for post in site.categories[subcat] %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
   {% endif %}
   {% endfor %}
 {% endfor %}

   
</div>
