<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-8EKT2NNKW6"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-8EKT2NNKW6');
   </script>
   
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Ozhan Atali" />
   
   <title>{{ page.title }}</title>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Özhan Atalı</a><br>
     <hr class="border02">
</div>

   
  {{ content }}


</div>

</body>
</html>
