---
layout: default
---
<div id="post">
  
  <h1 id="{{ page.title }}">{{ page.title }}</h1>
  <p class="meta">{% include post-date.html %} {% if {{post.konum}}!= "" and {{post.konum}}!= nil %}- {{post.konum}} {% endif %}</p>
    
  {{ content }}
  
</div>

<div id="related">
  <h2>Diğer Yazılar</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string | replace: "Jan", "Oca" | replace: "Feb", "Sub" | replace: "Apr", "Nis" | replace: "Jun", "Haz" | replace: "Jul", "Tem" | replace: "Aug", "Ağu" | replace: "Sep", "Eyl" | replace: "Oct", "Eki" | replace: "Nov", "Kas" | replace: "Dec", "Ara" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<br>
<br>
